* {
    font-family: "Work Sans", sans-serif;
}

/* Sheard style */
.section-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.section-desc {
    color: #727272;
    font-size: 1rem;
    font-weight: 400px;
}

.primary-btn {
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600px;
    cursor: pointer;
}

/* header style */
.header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

nav li {
    color: #424242;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

nav ul a {
    text-decoration: none;

}

/* banner style */
.banner-contant {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}



.banner img {
    margin-top: 20px;
    width: 100%;
}


/* main style start */
main {
    max-width: 1080px;
    margin: 0 auto;
    /* background-color: #131313; */
}

.teams-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    padding: 0 50px 0 100px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.teams-container-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 20px;


}

.teams-container-img img {
    width: 100%;

}

.teams-desc {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-desc .gray {
    color: #727272;
    font-size: 2.8rem;
    font-weight: 500;
}

.teams-desc .black {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 500;
}

.teams-desc .orange {
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: 500;
}

.feature-desc {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: justify;
}

/* facts style */
.fact-section {
    margin-left: 50px;
}
/* .section-desc{
    width: 50vw;
    align-items: center;
} */

.fact-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

/* fact section style */
.fact-card-container {
    display: flex;
    justify-content: space-around;
}

.fact-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 20px;
}

.fact-card-container .card-stars {
    color: #424242;
    font-size: 45px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fact-card-container .card-title {
    color: #727272;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
}
/* sponsor style */
.sponser-section{
    text-align: center;
}
.sponser-img-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    gap: 40px;
}
.sponser-img-container img{
    width: 150px;
}

/* responsive media quary */
/* mobile device */
@media screen and (max-width: 576px) {
    .header {
        padding: 20px;
    }

    nav,
    .sponser-img-container
    {
        flex-direction: column;
    }

    .teams-container {
        flex-direction: column;
        padding: 0;
    }

    .teams-container-img {
        grid-template-columns: 1fr;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .teams-desc {
        padding: 20px;
    }
    /* fact responsive */
    .fact-section {
        margin-left: 0px;
        text-align: center;
    }
    .fact-section{
        padding-left: 0px;
    }
    .fact-card-container{
        flex-direction: column;
    }
    .fact-card-container .card {
        padding: 20px;
        margin-top: 10px;
    }
}

/* tablet or medium device */
@media screen and (min-width:576px) and (max-width:992px) {
    .header {
        padding: 50px;
    }

    nav,
    .teams-container,
    .sponser-img-container
    {
        flex-direction: column;
    }
    .teams-container {
        padding:0 50px;
    }
    .teams-container-img {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
    /* fact responsive */
    .fact-section {
        margin-left: 0px;
        text-align: center;
    }
    .fact-section{
        padding-left: 0px;
    }
    .fact-card-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        column-gap: 5px;
        
    }
    .fact-card-container .card {
        padding: 20px;
        margin-top: 10px;
    }
}